/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-emblem-name: 'sprite-emblem';
$sprite-emblem-x: 0px;
$sprite-emblem-y: 0px;
$sprite-emblem-offset-x: 0px;
$sprite-emblem-offset-y: 0px;
$sprite-emblem-width: 31px;
$sprite-emblem-height: 46px;
$sprite-emblem-total-width: 69px;
$sprite-emblem-total-height: 65px;
$sprite-emblem-image: '../img/sprite.png';
$sprite-emblem: (0px, 0px, 0px, 0px, 31px, 46px, 69px, 65px, '../img/sprite.png', 'sprite-emblem', );
$sprite-ico-social-1-name: 'sprite-ico-social-1';
$sprite-ico-social-1-x: 31px;
$sprite-ico-social-1-y: 0px;
$sprite-ico-social-1-offset-x: -31px;
$sprite-ico-social-1-offset-y: 0px;
$sprite-ico-social-1-width: 19px;
$sprite-ico-social-1-height: 19px;
$sprite-ico-social-1-total-width: 69px;
$sprite-ico-social-1-total-height: 65px;
$sprite-ico-social-1-image: '../img/sprite.png';
$sprite-ico-social-1: (31px, 0px, -31px, 0px, 19px, 19px, 69px, 65px, '../img/sprite.png', 'sprite-ico-social-1', );
$sprite-ico-social-2-name: 'sprite-ico-social-2';
$sprite-ico-social-2-x: 31px;
$sprite-ico-social-2-y: 19px;
$sprite-ico-social-2-offset-x: -31px;
$sprite-ico-social-2-offset-y: -19px;
$sprite-ico-social-2-width: 19px;
$sprite-ico-social-2-height: 19px;
$sprite-ico-social-2-total-width: 69px;
$sprite-ico-social-2-total-height: 65px;
$sprite-ico-social-2-image: '../img/sprite.png';
$sprite-ico-social-2: (31px, 19px, -31px, -19px, 19px, 19px, 69px, 65px, '../img/sprite.png', 'sprite-ico-social-2', );
$sprite-ico-social-3-name: 'sprite-ico-social-3';
$sprite-ico-social-3-x: 50px;
$sprite-ico-social-3-y: 0px;
$sprite-ico-social-3-offset-x: -50px;
$sprite-ico-social-3-offset-y: 0px;
$sprite-ico-social-3-width: 19px;
$sprite-ico-social-3-height: 19px;
$sprite-ico-social-3-total-width: 69px;
$sprite-ico-social-3-total-height: 65px;
$sprite-ico-social-3-image: '../img/sprite.png';
$sprite-ico-social-3: (50px, 0px, -50px, 0px, 19px, 19px, 69px, 65px, '../img/sprite.png', 'sprite-ico-social-3', );
$sprite-ico-social-4-name: 'sprite-ico-social-4';
$sprite-ico-social-4-x: 19px;
$sprite-ico-social-4-y: 46px;
$sprite-ico-social-4-offset-x: -19px;
$sprite-ico-social-4-offset-y: -46px;
$sprite-ico-social-4-width: 18px;
$sprite-ico-social-4-height: 19px;
$sprite-ico-social-4-total-width: 69px;
$sprite-ico-social-4-total-height: 65px;
$sprite-ico-social-4-image: '../img/sprite.png';
$sprite-ico-social-4: (19px, 46px, -19px, -46px, 18px, 19px, 69px, 65px, '../img/sprite.png', 'sprite-ico-social-4', );
$sprite-ico-social-5-name: 'sprite-ico-social-5';
$sprite-ico-social-5-x: 50px;
$sprite-ico-social-5-y: 19px;
$sprite-ico-social-5-offset-x: -50px;
$sprite-ico-social-5-offset-y: -19px;
$sprite-ico-social-5-width: 19px;
$sprite-ico-social-5-height: 19px;
$sprite-ico-social-5-total-width: 69px;
$sprite-ico-social-5-total-height: 65px;
$sprite-ico-social-5-image: '../img/sprite.png';
$sprite-ico-social-5: (50px, 19px, -50px, -19px, 19px, 19px, 69px, 65px, '../img/sprite.png', 'sprite-ico-social-5', );
$sprite-ico-social-6-name: 'sprite-ico-social-6';
$sprite-ico-social-6-x: 0px;
$sprite-ico-social-6-y: 46px;
$sprite-ico-social-6-offset-x: 0px;
$sprite-ico-social-6-offset-y: -46px;
$sprite-ico-social-6-width: 19px;
$sprite-ico-social-6-height: 19px;
$sprite-ico-social-6-total-width: 69px;
$sprite-ico-social-6-total-height: 65px;
$sprite-ico-social-6-image: '../img/sprite.png';
$sprite-ico-social-6: (0px, 46px, 0px, -46px, 19px, 19px, 69px, 65px, '../img/sprite.png', 'sprite-ico-social-6', );
$spritesheet-width: 69px;
$spritesheet-height: 65px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-emblem, $sprite-ico-social-1, $sprite-ico-social-2, $sprite-ico-social-3, $sprite-ico-social-4, $sprite-ico-social-5, $sprite-ico-social-6, );
$spritesheet: (69px, 65px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
