@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin.scss';
@import 'import/wordpress.scss';
@import 'sprite';
@import 'font_fontawesome';
@import 'font_helioscond';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;
  background-image: url(../img/body.jpg);
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}
.site-title {
  font-size: 24px;
  font-weight: normal;
  line-height: 1;

  width: $width;
  height: 58px;
  margin: 0 auto;
  padding: 12px 0 0;

  text-align: center;

  color: #fff;
  border-bottom: 1px solid #fff;
  .upper {
    position: relative;

    text-transform: uppercase;
    &:after {
      position: absolute;
      top: -5px;
      right: -70px;

      @extend .dblock;
      @include sprite($sprite-emblem);
    }
  }
  .desciptor {
    font-size: 14px;
    font-style: italic;

    display: block;

    margin: 0 auto;

    text-align: center;
  }
}
header {
  .inner {
    padding: 120px 0 0;

    border-bottom: 1px solid $red;
  }
  .logo {
    position: absolute;
    top: 10px;
    left: 22px;

    display: block;

    width: 235px;
    height: 95px;
    img {
      max-width: 100%;
    }
  }
  .search {
    position: absolute;
    top: 62px;
    right: 0;

    width: 220px;
    height: 30px;
    input {
      font-style: italic;

      color: #fff;
      background-color: $red;
      box-shadow: inset 1px 1px 5px 0 rgba(86,82,84,1);
    }
    button {
      position: absolute;
      top: 10px;
      right: 5px;

      width: auto;
      height: auto;
      margin: 0;
      padding: 0;

      background: transparent;
    }
  }
  .header-slider {
    display: none;

    width: 100%;
    height: 510px;
    margin: 0;

    border-bottom: 20px solid $third-background-color;
    background-color: $third-background-color;
  }
}

.nav {
  position: absolute;
  top: 66px;
  left: 320px;

  width: 540px;
  height: 25px;
  ul {
    display: block;

    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;

      text-transform: uppercase;
      a {
        font-weight: bold;

        padding: 4px 12px;

        text-decoration: none;

        color: #4a4f54;
      }
      &:hover {
        a {
          color: #fff;
          background-color: darken($red, 20%);
        }
      }
      &.current-menu-item {
        a {
          color: #fff;
          background-color: $red;
        }
      }
    }
  }
}

section {
  padding: 0 0 $footer;
  .inner {
    padding: 30px 20px 0;

    background-color: $third-background-color;
  }
}
article {
  float: left;

  width: 620px;

  @extend .clearfix;
  .cat-title {
    font-size: 24px;
    font-weight: bold;

    margin: 0 0 20px;

    text-transform: uppercase;

    color: $gray;
    border-bottom: 1px solid $gray;
    a {
      text-decoration: none;

      color: $gray;
    }
  }
  .inner-title {
    font-size: 20px;
    font-weight: bold;

    margin: 0;

    text-transform: uppercase;

    color: $gray;
  }
  .looper {
    position: relative;

    margin: 0 0 10px;
    padding: 0 0 15px;

    color: #000;
    border-bottom: 1px solid $gray;

    @extend .clearfix;
    &:last-child {
      border-bottom: 0;
    }
    h2 {
      font-size: 18px;
      font-weight: normal;

      float: left;

      width: 100%;
      margin: 0 0 12px;
      a {
        text-decoration: none;

        color: $red;
      }
    }
    .feature-img {
      display: block;
      float: left;

      width: 280px;
      margin: 0 15px 0 0;

      opacity: .8;
    }
    &:hover {
      .feature-img {
        opacity: 1;
      }
    }
    .date {
      position: absolute;
      bottom: 10px;
      left: 295px;

      color: $red;
    }
    .view-article {
      position: absolute;
      right: 0;
      bottom: 10px;

      padding: 1px 3px;

      color: #fff;
      background-color: $red;
    }
  }
}

.pagination {
  width: 100%;
  margin: 0 0 15px;

  text-align: center;

  @extend .clearfix;
  a,
  span {
    font-size: 14px;
    font-style: italic;

    display: inline-block;
  }
  span {
    &.current {
      font-weight: bold;
    }
  }
  a {
    color: $red;
    &.next {
      float: right;
    }
    &.prev {
      float: left;
    }
  }
}
aside {
  float: right;

  width: 400px;

  background-color: $fourth-background-color;
}
.widget {
  padding: 0 22px 22px;
  h6 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;

    margin-right: -22px;
    margin-bottom: 22px;
    margin-left: -22px;
    padding: 7px 15px;

    color: #fff;
    background-color: $red;
  }
}
body {
  &.home {
    .header-slider {
      display: block;
    }
  }
  &.page-template-page-bio {
    aside {
      display: none;
    }
    article {
      width: 100%;
      padding-bottom: 50px;
      .inner-title {
        text-align: right;
      }
    }
  }
  &.page-template-page-programm {
    aside {
      display: none;
    }
    article {


      width: 100%;
      padding-bottom: 50px;
      .inner-title {
        text-align: right;
      }
    }
    .block-first {
      height: 726px;
      padding: 23px 20px 0 480px;

      background-image: url(../img/full-face.png);
      background-repeat: no-repeat;
      background-position: left bottom;

      h4 {
        font-size: 30px;
        font-weight: bold;
        line-height: 1;

        display: inline-block;

        margin: 0 0 10px;
        padding: 10px 25px;

        text-transform: uppercase;

        color: #fff;
        border-radius: 20px;
        background-color: $red;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          position: relative;

          margin: 0 0 15px;
          padding: 0 0 0 15px;
          &:before {
            font-weight: bold;

            position: absolute;
            top: 2px;
            left: 0;

            height: 14px;
            padding: 0;

            content: '.';

            color: $fourth-background-color;
            border-right: 5px solid $red;

            @extend .dblock;
          }
        }
      }
    }
    .block-hightlight {
      font-size: 28px;
      font-weight: bold;
      line-height: 1;

      margin-top: -20px;
      margin-right: -20px;
      margin-left: -20px;
      padding: 12px;

      text-align: center;

      color: #fff;
      background-color: $red;
    }
    .block-second {
      margin-right: -20px;
      margin-left: -20px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 150px;
      font-size: 18px;
      background-image: url(../img/block-second.png);
      background-repeat: no-repeat;
      background-position: center bottom;
      ul {
        margin: 0;
        padding: 0;
        li {
          position: relative;

          margin: 0 0 15px;
          padding: 0 0 0 15px;
          &:before {
            font-weight: bold;

            position: absolute;
            top: 5px;
            left: 0;

            height: 14px;
            padding: 0;

            content: '.';

            color: $fourth-background-color;
            border-right: 5px solid $red;

            @extend .dblock;
          }
        }
      }
    }
  }
}


footer {
  height: $footer;
  margin: $footer_margin auto 0;
  .inner {
    height: $footer;

    background-color: $red;
  }
  .footernav {
    position: absolute;
    top: 44px;
    left: 5px;

    margin: 0;

    @extend .clearfix;
    li {
      display: inline-block;
      float: left;
      a {
        font-size: 18px;

        padding: 0 10px;

        text-transform: capitalize;

        color: #fff;
        border-right: 1px solid #fff;
      }
      &:last-child {
        a {
          border-right: 0;
        }
      }
      &.current-menu-item {
        a {
          border-top: 1px dotted #fff;
          border-bottom: 1px dotted #fff;
        }
      }
      &:hover {
        a {
          color: #000;
          border-top: 1px dotted #000;
          border-bottom: 1px dotted #000;
        }
      }
    }
  }
  .social {
    position: absolute;
    top: 40px;
    right: 22px;

    margin: 0;

    text-align: right;
    li {
      display: inline-block;

      margin: 0 3px;
      a {
        display: block;

        opacity: .8;
      }
      &.ico-social-1 {
        a {
          @include sprite($sprite-ico-social-1);
        }
      }
      &.ico-social-2 {
        a {
          @include sprite($sprite-ico-social-2);
        }
      }
      &.ico-social-3 {
        a {
          @include sprite($sprite-ico-social-3);
        }
      }
      &.ico-social-4 {
        a {
          @include sprite($sprite-ico-social-4);
        }
      }
      &.ico-social-5 {
        a {
          @include sprite($sprite-ico-social-5);
        }
      }
      &.ico-social-6 {
        a {
          @include sprite($sprite-ico-social-6);
        }
      }
      &:hover {
        a {
          opacity: 1;
        }
      }
    }
  }
}

@import 'import/print';
