@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin.scss';
@import 'import/wordpress.scss';
@import 'sprite';
@import 'font_fontawesome';
@import 'font_helioscond';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;
  background-image: url(../img/body.jpg);
  background-position: center top;
  background-size: cover;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}
.site-title {
  font-size: 24px;
  font-weight: normal;
  line-height: 1;

  height: 58px;
  padding: 12px 0 0;

  text-align: center;

  color: #fff;
  background-color: $red;
  .upper {
    text-transform: uppercase;
  }
  .desciptor {
    font-size: 14px;
    font-style: italic;

    display: block;

    margin: 0 auto;

    text-align: center;
  }
}
header {
  .inner {
    padding: 120px 0 0;

    border-bottom: 1px solid $red;
  }
  .logo {
    position: absolute;
    top: 10px;
    left: 22px;

    display: block;

    width: 235px;
    height: 95px;
    img {
      max-width: 100%;
    }
  }
  .header-slider {
    width: 970px;
    height: 510px;
    margin: 0 auto 20px;

    border: 1px solid blue;
  }
}
.nav {
  position: absolute;
  top: 66px;
  left: 320px;

  width: 540px;
  height: 25px;
  ul {
    display: block;

    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;

      text-transform: uppercase;
      a {
        font-weight: bold;

        padding: 4px 12px;

        text-decoration: none;

        color: #4a4f54;
      }
      &:hover {
        a {
          color: #fff;
          background-color: $red;
        }
      }
    }
  }
}

section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}


footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $red;
  .inner {
    height: $footer;
  }
}

@import 'import/print';
