// Font Sizes
$base-font-size: 1em;
$base-font-family: 'Helios Condensed';
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$width: 1100px;
$footer: 90px;
$footer_margin: $footer - 2 * $footer;
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$red: #ce171f;
$blue: #477dca;
$gray: #4a4f54;
$medium-gray: #565254;
$light-gray: #ddd;

// Font Colors
$base-font-color: $gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #93851a;
$secondary-background-color: tint($base-border-color, 75%);
$third-background-color: rgba(255, 255, 255, 0.78);
$fourth-background-color: rgba(86, 82, 84, 0.11);;
// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, .06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -.3);

// Animations
$trs: all .15s;
$base-duration: 150ms;
$base-timing: ease;
$base-transition: background-color $base-duration * 5 $base-timing, color $base-duration * 0.7 $base-timing, opacity $base-duration * 0.3 $base-timing;
